<!DOCTYPE html>
<html>
<head>
  <title>My recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <%= link_to "myRecipes", "", class: "navbar-brand", id:'logo' %>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to "link1", "", class:"nav-link" %> 
      <span></span>
      </a>
    </li>
     <li class="nav-item ">
      <a class="nav-link" href="#">Features 
      <span></span>
      </a>
    </li>
  </ul>
  </div>
  
</nav>
<div class="container">
  <%= yield %>
  <div class="footer">
  &copy; Copyright 2016 - Rommel Berrios - v0.0.1
</div>
</div>



</body>
</html>
